# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# Android
mobile/android/.gradle/
mobile/android/local.properties
mobile/android/captures/
mobile/android/gradleBuild/

# OS & Runtime Files
.DS_Store
Thumbs.db
*.log
*.pid
